.axure {
    position: relative;
    padding: 100px 0;
    background: url(../img/background\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-blend-mode: hard-light;
}
.axure::before {
    content:'';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0000008C;
    opacity: 0.55;
    z-index: 1;
}
.content{
    position: relative;
    color: rgb(56, 47, 47);
    z-index: 1;
}
.container::before {
    content: '';
    z-index: 5;
}
.color{
    color: #FFFFFF;
    position: relative;
    display: block;
    z-index: 5;
}
.line-axure{
    width: 64px;
    size: 2px;
    border: 1px solid #faf8f8;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #f7f2f2;
    align-content: top;
    margin-bottom: 34px;
}

.axure-title {
    font-family: 'Raleway';
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    margin-bottom: 34px;
    color: #FFFFFF;
}
.container {
    position: relative;
    z-index: 5;
}

.axure-discrip {
    font-family: 'Raleway';
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 57px;
}
.axure-push {
    width: 135px;
    height: 42px;
    text-align: center;
    display: block;
    margin: auto;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: rgba(28,28,28,0);
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;  
}