@import url(/FE33-Progect-Awesome-Hermanovich-Uladzislau/css/cdn.css);
@import url(/FE33-Progect-Awesome-Hermanovich-Uladzislau/main.css);
@import url(/FE33-Progect-Awesome-Hermanovich-Uladzislau/css/header.css);
@import url(/FE33-Progect-Awesome-Hermanovich-Uladzislau/css/portfolio.css);
@import url(/FE33-Progect-Awesome-Hermanovich-Uladzislau/css/foother.css);

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    font-family: 'Raleway','Open Sans', sans-serif;
}
.container {
    max-width: 1170px;
    top: 1380px;
    margin: auto;
    padding: 0 15;
}
section {
  padding: 5px;  
}

.main-title {
    font-size: 36px;
    font-weight: 400;
    color: #212121;
    text-align: center;
}
.main-text {
    text-align: center;
    font-family: 'Open Sans';
    color: #86878B;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px
  }
.portfolio-card-text {
    width: 350px;
    height: 60px;
}