@import url(/css/header.css);
@import url(/css/social.css);
@import url(/css/portfolio.css);
@import url(/css/prising.css);
@import url(/css/review.css);
@import url(/css/axure.css);
@import url(/css/foother.css);
@import url(/css/cdn.css);
@import url(/css/flex.css);
@import url(/css/stiles.css);
@import url(/index.html);
body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    font-family: 'Raleway','Open Sans', sans-serif;
}
.main-title {
    font-size: 36px;
    font-weight: 400;
    color: #212121;
    text-align: center;
}
.prising{
    margin: 0;
    box-sizing: border-box;
}
