
.portfolio-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
    display: flex;
    justify-content: space-between;
}
.main-text {
    text-align: center;
    font-family: 'Open Sans';
    color: #86878B;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 68px;
  }
.container {
    max-width: 1170;
    margin: auto;
    padding: 0 15px;
}
.portfolio-card-img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
     transform: scale(1.4);  
}
#awesome-icons:hover {
    color: #000000;
    -webkit-animation: swing 0.9s ease;
   animation: swing 0.9s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}
.portfolio-card-lamp {
    font-size: 
    width: 350px;
    height: 225px;   }

.portfolio-card-keyboard {
    font-size:
    width: 350px;
    height: 225px;
}

.line-awesome{
    width: 64px;
    size: 2px;
    border: 1px solid #E72424;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #E72424;
    align-content: top;
    margin-bottom: 34px;
}

.portfolio-card-lighttning {
    font-size: 
    width: 350px;
    height: 225px;
}

.portfolio-card {
    width: 350px;
    height: 225;
    border: 1px *solid rgb(245, 246, 248)*;
    border-radius: 20px;
    padding: 10px;
    justify-content: space-between;
}
.portfolio-card-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    mix-blend-mode: normal;
    border: 1px solid #e82424;
    margin: 0 auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#awesome-icons {
    font-size: 45px;
    color: #e82424;
}
#awesome-icons:
.portfolio-card-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #333333;
}
.portfolio-card-text {
    width: 350px;
    height: 60px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    margin-bottom: 6px;
    padding-bottom: 68px;
}

